body {
  background-color: #190540;
}

h2 {
  color: #FFF
}

h3 {
  text-align: center;
  line-height: 2;
  font-family: 'Josefin Slab', serif;
  color: #FFF;
  padding-bottom: 75px;
}

.image {
  position: relative;
  width: 100%;
  padding-bottom: 25px;
}

#text-overlay span {
  opacity: 0.6;
  color: white;
  font-family: 'Josefin Slab', serif;
  font-size: 200%;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.1)
  padding: 10px;
  position: absolute;
  top: 315px;
  left: 0;
  width: 100%;
}
